<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Spring Success blog</title>
  <meta content="spring success blog, thanh tran fpt, tran xuan thanh" name="description">
  <meta content="spring success blog, thanh tran fpt, tran xuan thanh, nhunggidepnhat, nam sinh dat diem tuyet doi bai luan, xuat sac gianh hoc bong toan phan dh fpt, hoc toan anh thanh, cung hoc voi anh thanh ve loc" name="keywords">

  <!-- Icon -->
  <link href="../../static/logo/icon.png" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  

  <!-- Vendor CSS Files -->
  <link href="../../static/styles/me/assets/vendor/aos/aos.css" rel="stylesheet">  <!-- Appear effect -->
  <link href="../../static/styles/me/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  <!-- Nav bar right -->
  <link href="../../static/styles/me/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">  <!-- Dropdown sign -->
  

  <!-- Template Main CSS File -->
  <link href="../../static/styles/me/assets/css/index.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <h1><a href="" style="font-family: 'Raleway', sans-serif;">THÀNH</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="https://www.topcv.vn/xem-cv/Xg5RVQVcA1NWB1QNAQ5bBQdXVQYFXFpbVVYIXQ4b93" target="_blank">My CV</a></li>
          <li><a class="nav-link scrollto" href="https://HocToanAnhThanh.onrender.com" target="_blank">Học Toán anh Thành</a></li>
          <li><a class="nav-link scrollto " href="https://photos.app.goo.gl/vuPJ6oUjrPkYw3mU7" target="_blank">Portfolio</a></li>

          <!-- START Drop Down -->
          <li class="dropdown"><a href="/notes" target="_blank"><span>Notebook</span> <i class="bi bi-chevron-down"></i></a>
            
            <ul>
              <li><a href="/notes" target="_blank">My Notes</a></li>
              <li><a href="/notes/post" target="_blank">Post a new note</a></li>
              <li><a href="/notes/enter-secret-key" target="_blank">Login to Notebook</a></li>
              <li><a href="/notes?category=AI Models" target="_blank">AI Models</a></li>

              <!-- START Deep Drop Down -->
              <li class="dropdown"><a href="#"><span>Learn AI FPT</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Term 1</a></li>
                  <li><a href="#">Term 2</a></li>
                  <li><a href="#">Term 3</a></li>
                  <li><a href="#">Term 4</a></li>
                  <li><a href="#">Term 5</a></li>
                </ul>
              </li>
              <!-- END Deep Drop Down -->
              
              <li><a href="#">Interesting Knows</a></li>
              <li><a href="https://nhunggidepnhat.wordpress.com/" target="_blank">Visit My WordPress</a></li>
              <li><a href="/notes/send-feedback" target="_blank">Send Feedback</a></li>
            </ul>
          </li>
          <!-- END Drop Down-->


          <!-- START Drop Down -->
          <li class="dropdown"><a href="#"><span>Tools</span> <i class="bi bi-chevron-down"></i></a>
            
            <ul>
              <li><a href="/tools" target="_blank">Tools</a></li>

              <li><a href="https://ifresh-app.onrender.com" target="_blank">iFresh</a></li>

              <!-- START Deep Drop Down -->
              <!-- <li class="dropdown"><a href="#"><span>Learn AI FPT</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Term 1</a></li>
                  <li><a href="#">Term 2</a></li>
                  <li><a href="#">Term 3</a></li>
                  <li><a href="#">Term 4</a></li>
                  <li><a href="#">Term 5</a></li>
                </ul>
              </li> -->
              <!-- END Deep Drop Down -->
            </ul>
          </li>
          <!-- END Drop Down -->

          <li><a class="nav-link scrollto" href="https://github.com/thanhtranfpt" target="_blank">GitHub</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="font-family: 'Niconne', cursive; text-transform: none; letter-spacing: 0.05em; margin-bottom: 0.3em;">
                  Spring Success</h1>
      <h2>Hello, I am an AI student with aspirations to develop Artificial Intelligence to change the world</h2>
      <a href="/about-me" class="btn-get-started" target="_blank">About Me</a>
    </div>
  </section><!-- End Hero Section -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="../../static/styles/me/assets/vendor/aos/aos.js"></script>  <!-- Appear effect of heading -->
  <script src="../../static/styles/me/assets/vendor/glightbox/js/glightbox.min.js"></script>  <!-- Appear effect of heading -->
  <script src="../../static/styles/me/assets/vendor/swiper/swiper-bundle.min.js"></script>  <!-- Appear effect of heading -->


  <!-- Template Main JS File -->
  <script src="../../static/styles/me/assets/js/main.js"></script>

</body>

</html>