<meta name="description" content="spring success blog, thanh tran fpt, tran xuan thanh">
        <meta name="keywords" content="spring success blog, thanh tran fpt, tran xuan thanh, nhunggidepnhat, nam sinh dat diem tuyet doi bai luan, xuat sac gianh hoc bong toan phan dh fpt, hoc toan anh thanh, cung hoc voi anh thanh ve loc, ai engineer, AI Engineer, Web Developer, web developer, data engineer, Data Engineer">

        <!-- Icon -->
        <link rel="icon" href="{{ url_for('static', filename='logo/icon.png') }}">