<!DOCTYPE html>
<html>
<head>
    <title>Bảng Thông báo - Lớp học anh Thành</title>
    <meta content="spring success blog, thanh tran fpt, tran xuan thanh" name="description">
  <meta content="spring success blog, thanh tran fpt, tran xuan thanh, nhunggidepnhat, nam sinh dat diem tuyet doi bai luan, xuat sac gianh hoc bong toan phan dh fpt, hoc toan anh thanh, cung hoc voi anh thanh ve loc" name="keywords">

  <!-- Icon -->
  <link href="../../static/logo/icon.png" rel="icon">
</head>
<body>
    <div id='result'></div>

    <script>
        // Assuming 'content' is a Python string containing the HTML code
        var content = `{{ content|safe }}`;
        document.getElementById('result').innerHTML = content;
    </script>
</body>
</html>
